export PIA_HOME=`pwd`
export PYTHONPATH=$PYTHONPATH:`pwd`
export LLVM=$HOME/clang+llvm
export LIBCLANG_PATH=$LLVM/lib/libclang.so
export LD_LIBRARY_PATH=$LLVM/lib:$LD_LIBRARY_PATH
export JDK_LIB=/usr/lib/jvm/java-21-openjdk-amd64/lib

# the following line may cause warning
# direnv: PS1 cannot be exported. For more information see https://github.com/direnv/direnv/wiki/PS1
. .venv/bin/activate
