[submodule "downstream/Clone-detection-BCB-naturalness-attack/python_parser/parser_folder/tree-sitter-python"]
	path = downstream/Clone-detection-BCB-naturalness-attack/python_parser/parser_folder/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python
[submodule "downstream/Clone-detection-BCB-naturalness-attack/python_parser/parser_folder/tree-sitter-java"]
	path = downstream/Clone-detection-BCB-naturalness-attack/python_parser/parser_folder/tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java
[submodule "downstream/Clone-detection-BCB-naturalness-attack/python_parser/parser_folder/tree-sitter-c"]
	path = downstream/Clone-detection-BCB-naturalness-attack/python_parser/parser_folder/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c
[submodule "downstream/Clone-detection-BCB-naturalness-attack/python_parser/parser_folder/tree-sitter-cpp"]
	path = downstream/Clone-detection-BCB-naturalness-attack/python_parser/parser_folder/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp
