fire==0.5.0
tqdm>=4.66.2
matplotlib>=3.8.3
numpy>=1.26.4
dacite==1.8.1
orjson>=3.10,<4
pandas==2.2.3
torch==2.5.0
transformers==4.46.3
tokenizers==0.20
datasets==3.1.0
accelerate>=0.26.0
wandb==0.18.7
gdown==5.2.0
tensorboardX==2.6.2.2
scikit-learn==1.6.0
2to3==1.0
autopep8==2.3.2
jsonlines==4.0.0
returns[compatible-mypy]>=0.23.0
pytest>=8.0.0 
pathos>0.3